<img src="/public/assets/img/hamburger.jpeg" alt="hamburger pic">

<h1>EAT-DA-BURGER</h1>

<div class="container">
    <div class="col-6">
        <ul>
            {{#each burgers}}
                <li>
                    <p>
                    {{this.id}}. {{this.name}}
                    <button class="change-devoured" data-id="{{id}}" data-newdevour="{{devoured}}">
                        DEVOUR!
                    </button>
                    </p>
                </li>
            {{/each}}        
        </ul>
    </div>
    <div class="col-6">
        <ul>
            {{#each burgers}}
                {{#if isDevoured}}
                    {{name}}<button class="delburger" data-burgerid="{{this.id}}">
                        DELETE!
                    </button>
                {{/if}}
            {{/each}}        
        </ul>
    </div>
</div>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class"form-group"> 
    <label for="bur">Burger Name:</label>  
    <input type="text" id="bur" name="name">
  </div> 

  <button type="submit">Submit</button>
</form>
