<header>
    <h1>EAT-DA-BURGER</h1>
</header>

<div class="container">
    <div class="create-burger">
        <h2>Add a Burger</h2>
            <form class="create-form" method="POST">
                <label for="bur">Burger Name:</label> 
                <input type="text" id="burger-name" name="burger_name">
                <button type="submit">Submit</button>
            </form>
    </div>
    <section class="burger-container">
        <div class="burgers">
            {{#each burgers}}
                {{#unless this.devoured}}
                <div class="burger">
                    <p>
                        {{burger_name}}<span>#{{id}}</span>
                        <button class="change-devoured" data-id="{{id}}">DEVOUR!!</button>
                    </p>>
                </div>
                {{/unless}}
            {{/each}}    
        </div>
        <div class="burger-devoured">
            {{#each burgers}}
                {{#if this.devoured}}
                <div class="burger">{{burger_name}}<span>#{{id}}</span></div>
                {{/if}}
            {{/each}}    
        </div>
    </section> 

</div>
